.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 0px;  
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.pd-10{
  margin-left: 10px;
}